
@{
    ViewData["Title"] = "Index";
}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-z text-center bg-light" style="display: flex;background-image: url('https://maserati.scene7.com/is/image/maserati/maserati/regional/us/hero-website-new-upload/221340M_1920x1080.jpg?$1920x2000$&fit=constrain')">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h2 class="display-5 fw-normal">FIND YOUR RENT A CAR</h2>
        <p class="lead fw-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block">
        <div class="card" style="width: 18rem;background-color:#2943C4;">
            <div class="card-header">
                <h2 style="color: white;">Featured</h2>
            </div>
            <ul class="list-group " style="align-items: center;">
                <li class="list-group-item">Name</li>
                <li class="list-group-item">Ages</li>
                <li class="list-group-item">Drop</li>
                <li class="list-group-item">Date</li>
            </ul>
            <button style="background-color: yellow;"> Search Nov</button>
        </div>
    </div>
</div>
<div class="container py-3">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2 class="display-5 fw-normal">OUR BEST <a href="">OFFERS</a> </h2>
            <p class="fs-5 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a arcu eu justo euismod rutrum. Quisque id enim ac tortor malesuada vestibulum non quis turpis. Ut eget ornare arcu. Suspendisse velit mi, pulvinar sed mauris eget, efficitur tempor ex.</p>
        </div>
    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-left">
            <div class="col">
                <div class=" mb-4 rounded-3 shadow-sm">

                    <div class="card-body">
                        <h4 class="card-title pricing-card-title"><i class="bi bi-truck" style="background-color: blue;color: white;"></i>Featured Luxury Cars</h4>
                        <p class="list-unstyled mt-2 mb-4">
                            Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.
                        </p>
                        <h4 class="card-title pricing-card-title"><i class="bi bi-briefcase-fill" style="background-color: blue;color: white;"></i>Insurance Included</h4>
                        <p class="list-unstyled mt-2 mb-4">
                            Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.
                        </p>
                        <h4 class="card-title pricing-card-title"><i class="bi bi-skip-backward-circle-fill" style="background-color: blue;color: white;"></i>Available 12 640 Cars</h4>
                        <p class="list-unstyled mt-2 mb-4">
                            Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class=" mb-4 rounded-3 shadow-sm">
                    <img src="http://malikhassan.com/html/car-rental/html/images/featureCarImg.png" alt="">
                </div>
            </div>
            <div class="col">
                <div class="mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-body">
                        <h4 class="card-title pricing-card-title">Any Locations Rent<i class="bi bi-geo-alt-fill" style="background-color: blue;color: white;"></i></h4>
                        <p class="list-unstyled mt-2 mb-4">
                            Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.
                        </p>
                        <h4 class="card-title pricing-card-title">Cleaning Included<i class="bi bi-droplet-fill" style="background-color: blue;color: white;"></i></h4>
                        <p class="list-unstyled mt-2 mb-4">
                            Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.
                        </p>
                        <h4 class="card-title pricing-card-title">Online 24 / 7 Support<i class="bi bi-globe" style="background-color: blue;color: white;"></i></h4>
                        <p class="list-unstyled mt-2 mb-4">
                            Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="container py-3">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h2 class="display-5 fw-normal">VEHICLE MODELS <a href="">FOR RENT</a> </h2>
            </div>
        </header>
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-left">
                <div class="col">
                    <div class=" mb-4 rounded-3 shadow-sm">
                        <div class="card-body">
                            <h4 class="fw-normal">| <a href="">BMW 3-SERIES</a> </h4>
                            <h4 class="fw-normal">| <a href="">Audi A1 S-LINE</a> </h4>
                            <h4 class="fw-normal">| <a href="">Toyota Camry</a> </h4>
                            <h4 class="fw-normal">| <a href="">Mercedes-Benz GLK</a> </h4>
                            <h4 class="fw-normal">| <a href="">Subaru Impreza</a> </h4>
                            <h4 class="fw-normal">| <a href="">Toyota Corola 1.6 Elegant</a> </h4>
                            <h4 class="fw-normal">| <a href="">Subaru Impreza</a> </h4>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <img src="http://malikhassan.com/html/car-rental/html/images/car01.jpg" alt="">
                    </div>
                </div>
                <div class="col ">
                    <div class=" mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-body">
                            <h4 class="fw-normal"><a href="">$ 37.40 </a>Rent Per Day </h4>
                            <h4 class="fw-normal">Model : Limousine </h4>
                            <h4 class="fw-normal"> Doors : 4 </h4>
                            <h4 class="fw-normal">Seats : 5 </h4>
                            <h4 class="fw-normal">Luggage : 2Suitcases/2Bags</h4>
                            <h4 class="fw-normal">Transmission : Automatic </h4>
                            <h4 class="fw-normal"> Air conditioning  : Yes</h4>
                            <h4 class="fw-normal"> Minimum ages  :    25years</h4>
                            <button style="background-color: #2842CD;color: white;border-color: #2842CD;"><i class="bi bi-calendar3"></i> Reserve Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="row g-6 py-5 row-cols-4 row-cols-lg-4" style="background-image: url('https://thumbs.dreamstime.com/b/front-headlights-red-modern-sport-car-black-background-free-space-right-side-text-front-headlights-red-modern-218256586.jpg');">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center  text-white fs-1 mb-1">
                <i class="bi bi-people-fill"></i>
            </div>
            <h2 style="color: white;">399</h2>
            <p style="color: white;">Happy Client</p>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center  text-white fs-1 mb-1">
                <i class="bi bi-truck"></i>
            </div>
            <h2 style="color: white;">499</h2>
            <p style="color: white;">Happy Client</p>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center  text-white fs-1 mb-1">
                <i class="bi bi-laptop"></i>
            </div>
            <h2 style="color: white;">572</h2>
            <p style="color: white;">Happy Client</p>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center  text-white fs-1 mb-1">
                <i class="bi bi-award"></i>
            </div>
            <h2 style="color: white;">206</h2>
            <p style="color: white;">Happy Client</p>
        </div>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-primary">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <h1 style="color: white;">Newsletter</h1>
                <p>Subscribe for our weekly newsletter.</p>
            </a>

        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <input type="search" class="form-control form-control-white text-white bg-light" placeholder="Enter Your Email Address" aria-label="Search" style="width: 240px;border-radius: 0%;">
            <input type="search" class="form-control form-control-white text-white" placeholder="Sign Up" aria-label="Search" style="width: 140px;background-color: #1691EA;border-radius: 0%;border-color:#1691EA ;                                      color: white;">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
    </footer>
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start" style="background-image: url('');">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.google.com/maps/40.365056,49.8180422,14z" title="Map" allowfullscreen=""></iframe>
            </div>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 " style="background-color: #3C3737;">
                <div class="form-floating mb-3">
                    <input type="name" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput">Enter Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="phone" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword">Phone</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="message" class="form-control" id="floatingMessage" placeholder="">
                    <label for="floatingMessage">Comment</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Sumbit Now</button>

            </form>
        </div>

    </div>

